* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    color: #3d1470;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    margin-top: 2px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="text"],input[type="email"], select, textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #3d1470;
    border-radius: 5px;
    outline: none;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px; 
}

input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: none;
}

button {
    background-color: #28242e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #242128;
}
