<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de categorias</title>
</head>
<body>
    <h2 style=" text-align: center;"> Cadastro de Categorias</h2>

<hr>
    <form action="{{url_for('categorias_func')}}" method="POST">
        <label>ID</label>
        <input type="text" name="id">
        <label>Nome</label>
        <input type="text" name="nome">
        <button>Adicionar</button>
    </form>
</body>
</html>